<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
    class="movies-container mt-3 mb-custom" *ngIf="movies && movies.length; else emptyList">
    <div *ngFor="let movie of movies" class="item m-sm-3 m-md-3 ms-0 row col-12 my-2"
        [routerLink]="['/movie', movie.id, 'details']">
        <div class="movie-bg-container col-2">
            <img class="w-100 img-ctm" errorImage="./assets/images/no-image.png"
                defaultImage="./assets/images/no-image.png" [lazyLoad]="movie.poster_path">
        </div>

        <div class="rating-container mt-sm-2 p-0 p-abs-container">
            <i class="fas fa-star d-flex align-self-center me-2 c-gray"></i>
            <span>{{(movie.vote_average * 10).toFixed(0) + "%"}}</span>
        </div>

        <div class="row col-10 col-lg-12 ms-2 ms-md-0 row-mb">
            <span class="row ms-0 c-white fs-7 my-sm-2 w-200-trunc" [matTooltip]="movie.title">{{movie.title}}</span>
            <span class="row ms-0 c-gray fs-8">{{movie.release_date | date: 'dd MMM yyyy'}}</span>
        </div>
    </div>


    <ngx-loading-bar [fixed]="false" [diameter]="'50px'" [includeBar]="false" style="  margin-left: auto;
    margin-right: auto;"></ngx-loading-bar>

</div>

<ng-template #emptyList>
    <div class="col d-flex align-items-center justify-content-center vh-100">
        <img class="w-30-c" src="./assets/images/no-results-found.png">
    </div>
</ng-template>