.cover-img {
    background-position: right -200px top;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(4px);
    -webkit-filter: blur(4px);
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 50%);
}

.movie-content {
    top: 150px;
}

.trailer-container {
    cursor: pointer;
}