
@use '@angular/material' as mat;
@include mat.core();

$movie-stars-primary: mat.define-palette(mat.$indigo-palette);
$movie-stars-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$movie-stars-warn: mat.define-palette(mat.$red-palette);

$movie-stars-theme: mat.define-light-theme((
  color: (
    primary: $movie-stars-primary,
    accent: $movie-stars-accent,
    warn: $movie-stars-warn,
  )
));

@include mat.all-component-themes($movie-stars-theme);

$theme-colors: (
  "primary": #005FF8,
  "danger": #ff4136
);

@font-face {
    font-family: "Bebas Neue";
    src: local("Bebas Neue"), url(./assets/fonts/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
}

html, body {
    background-color: #0A0A09;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    height: 100%;
}

* {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

@media (min-width:320px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px) { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }
@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1440px) { /* hi-res laptops and desktops */ }

.page-title {
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}

.w-30-c {
    width: 300px;
} 

.c-white {
    color: white;
}

.c-gray {
    color: #707070;
}

.b-gray {
    background-color: #262626;
}

.b-blue {
    background-color: #0d6efd;
}

.fs-7 {
    font-size: 0.7rem!important;
}

.fs-8 {
    font-size: 0.6rem!important;
}

.form-control:focus {
    box-shadow: none;
}

.btn-primary:focus {
    box-shadow: unset !important;
}

.img-ctm {
    border: solid 1px #ffffff2e;
    border-radius: 4px;
}

.ml-20px {
    margin: 20px;
}

.yt-modal .mat-dialog-container {
    background-color: #262626 !important;
  }