@use '@angular/material' as mat;
@include mat.core();
$movie-stars-primary: mat.define-palette(mat.$indigo-palette);
$movie-stars-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$movie-stars-warn: mat.define-palette(mat.$red-palette);
$movie-stars-theme: mat.define-light-theme(( color: ( primary: $movie-stars-primary, accent: $movie-stars-accent, warn: $movie-stars-warn, )));
@include mat.all-component-themes($movie-stars-theme);
$theme-colors: ( "primary": #005FF8, "danger": #ff4136);
@font-face {
    font-family: "Bebas Neue";
    src: local("Bebas Neue"), url(./assets/fonts/BebasNeue-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url(./assets/fonts/Poppins-Regular.ttf) format("truetype");
}

html,
body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    height: 100%;
}

* {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

body::after {
    position: fixed;
    content: "";
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7460027956495099) 65%, rgba(255, 255, 255, 0) 100%);
    pointer-events: none;
    z-index: -1;
}

@media (min-width:320px) {
    .custom-mg {
        padding-left: 16px !important;
        padding-top: 40px !important;
        padding-right: 16px !important;
    }
}

@media (min-width:768px) {
    .custom-mg {
        padding-left: 24px !important;
        padding-top: 40px !important;
        padding-right: 24px !important;
    }
}

@media (min-width:1440px) {
    .custom-mg {
        padding-left: 156px !important;
        padding-top: 80px !important;
        padding-right: 156px !important;
    }
}

[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    background: url('assets/images/clear-filter.svg') no-repeat 50% 50%; //same icon used at figma
}

.page-title {
    font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}

.w-30-c {
    width: 300px;
}

.c-white {
    color: white;
}

.c-gray {
    color: #707070;
}

.b-gray {
    background-color: #262626;
}

.b-blue {
    background-color: #0d6efd;
}

.fs-7 {
    font-size: 0.7rem!important;
}

.fs-8 {
    font-size: 0.6rem!important;
}

.form-control:focus {
    box-shadow: none;
}

.btn-primary:focus {
    box-shadow: unset !important;
}

.img-ctm {
    border: solid 1px #ffffff2e;
    border-radius: 4px;
}

.ml-20px {
    margin: 20px;
}

.yt-modal .mat-dialog-container {
    background-color: #262626 !important;
}